

body {
  width: 100%;
  background: url('./pokeImg/pikaCover.jpg') center center no-repeat;
}

.col-md-12 h1 {
  text-align: center;
}

.col-md-12 p {
  text-align: center;
  font-size: 8px;
}

.two {
  margin-top: 10em;
}

.input {
  text-align: center;
}


.left p {
  text-align: left;
  margin-left: 2em;
}

.legal {
  margin-top: 15em;
}
